**
!package.json
!package-lock.json
!app/
!app/*.ts
!app/dashboard/
!app/dashboard/*.html
!app/dashboard/*.js
!app/dashboard/*.css
!app/dashboard/*.svg
!app/dashboard/src/
!app/dashboard/src/*.js
!agent/
!agent/*.ts
!engine/
!engine/*.ts
**/*.test.ts
app/dashboard/dynamic.bundle.js
**/.env*
**/*.db*
**/private/**
**/deployments/**
